@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot password page";
    var link = ViewBag.Link ?? "";
}


<div class="auth-box">
    <h3>Forgot Password?</h3><br />

    <div asp-validation-summary="All"></div>

    <form method="post" asp-action="ForgotPassword" asp-controller="Account">
        <div>
            <div class="inputs">
                <label asp-for="Email"></label>
                <input asp-for="Email" placeholder="Email" />
            </div>
            <span class="validation-msg" asp-validation-for="Email"></span>
        </div>
        <button class="btn btn-primary">Send</button>

    </form>

    <br/>
    @if (!string.IsNullOrWhiteSpace(link))
    {
        <span><a href="@link">CLick here to reset password</a></span>
    }
</div>


