@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Forgot password page";
    var link = ViewBag.Link ?? "";
}


<div class="auth-box">
    <h3>Reset Password?</h3><br />

    <div asp-validation-summary="All"></div>

    <form method="post" asp-action="ResetPassword" asp-controller="Account">
        <div>
            <input asp-for="Id" hidden />
            <input asp-for="token" hidden />
        </div>
        <div>
            <div class="inputs">
                <label asp-for="Password"></label>
                <input asp-for="Password" placeholder="Password" />
            </div>
            <span class="validation-msg" asp-validation-for="Password"></span>
        </div>
        <div>
            <div class="inputs">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" placeholder="Confirm Password" />
            </div>
            <span class="validation-msg" asp-validation-for="ConfirmPassword"></span>
        </div>

        <button class="btn btn-primary">Send</button>

    </form>

    <br />
    <span>@link</span>
</div>


